body { 
  font-family: 'Lato';
  text-align: center;
  margin: 0;
  padding: 0; 
}
/* left-align the CONTENTS all items within body, additionally
    you can add this text-align: left property to all elements
    manually */
body > * { 
  text-align: center;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  color: #fff;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

@media screen and (min-width: 550px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 65px;
    line-height: 65px;
    font-size: 1.4em;
  }
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  .nav li:nth-child(1) {
    float: left;
    padding-left: 15px;
  }
  .nav li:nth-child(2) {
    width: 90px;
    float: left;
  }
  .nav li:nth-child(4) {
    width: 120px;
    float: right;
  }
  .nav li:nth-child(5) {
    width: 90px;
    float: right;
  }
}
.addButton {
  position: fixed;
  bottom: 5%;
  right: 3%;
}
.floating-button {
  background-color: #F44336 !important;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 55.5px;
  height: 55.5px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
.floating-button i {
  width: 55.5px;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 55.5px;
  font-style: normal;
}
#virtue {
  font-family: Papyrus, fantasy;
  font-size: 1.5em !important;
}
#vice {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.7em !important;
}
.pagetitle {
  font-style: oblique;
}

input[type="text"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 3%;
  width: 90%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 7%;
}

div.boxWidth {
    width: 100%;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  float:left;
}

fieldset {
	width: 80%;
  margin-bottom: 10%;
 	border-style: solid;
  border-width: 50%;
	position: relative;
  margin: auto;
  border-radius: 2em;
  padding-bottom: 10%;
}

form.input {
  width: 85%;
  border-radius: 10%;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  padding-top: 2em;
}

#gobackbutton {
  padding-top: 40px;
  text-align: center;
  position: relative;
  float:left;
}

#submitbutton {
  padding-top: 40px;
  text-align: center;
  position: relative;
  float:right;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
}

.back {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
}

.btn:active {
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

/* icon button */
.butt {
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}

.butt:active {
  box-shadow: 0px 1px 0px 0px;
}

.icon {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.icon:hover {
  background-color: #6FC6FF;
}


#buttons {
	margin-top:18%;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

h2 {
	text-align: left;
}

form { 
	display: inline-block; 
}

div.box{
  background-color: rgba(0,0,0,.15);
  width: 50%;
	height: 100%;
	border: 1px solid #CCC;
	border-radius: 2em;        		
	margin: auto;
	padding: 8%;
	position: relative;
	margin-top: 10%
}

.round-button {
  display:inline-block;
  width:50px;
  height:50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #75787A;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  vertical-align: middle;
}

.round-button:active {
	background: #112230;
}

.round-button-time {
	display:inline-block;
  width:50px;
  height:50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #75787A;
  box-shadow: 0 0 3px gray;
  font-size:11px;
  font-weight:bold;
  vertical-align: middle;
}	

.round-button-time:active {
	background: #112230;
}

div.frequency_button_numbers {
  display: block;
  height: 100%;
  width: 100%;
  margin-right: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  padding-bottom: 10px;
}
div.frequency_button_time {
  display: block;
  height: 100%;
  width: 100%;
  margin-right: 5px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.active { 
  background: #55acee;  
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* Reset */
p, h1, h2, h3, h4, h5, h6 {
  margin:0px;
}

/* Habit list */
.habitcontainer {
  margin:0px auto;
  height:150px;
  max-width: 400px;
}

/* Main habit box */
.habitbox {
  /*width:100%;*/
  padding:30px;
  border:1px solid black;
  border-radius:.4em;
  margin:10px;
}

h1.habit-title{
  font-size:20px;
  font-family: 'Lato';
  text-align: left;
}

h4.percent {
  float: right;
  font-size: 40px;
  margin-left: 60px;
  margin-top: 20px;
  font-family: 'Lato';
}

img.habit-icon{
  width:70px;
  height:70px;
}

img.check{
  width:50px;
  height:50px;
}

img.fail{
  width:50px;
  height:50px;
}

span.dropdown {
  font-size:1em;
  float: right;
  margin-top: -23px;
}

.habit-core {
  height:80px;
}

.habit-core .left {
  float:left;
  /*padding:0px;*/
  /*list-style: none;*/
}

.habit-core .right {
  float:right;
  /*padding:0px;*/
  /*list-style: none;*/
}

.habit-options {
  list-style: none;
}

.habit-options li {
  float:left;
}

.option {
  float:right;
}

.habitbox .below-core {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lato';
}

.streak {
  float:right;
}

.frequency-description {
  float:left;
}

/* Success version */
.habit-progress {
  background: #DDD;
  border-radius: 20px;
  height: 5px;
  width: 100%;
  padding: 0px;
  margin-top: 20px;
  float:right;
}

.habit-progress:after {
  content: '';
  display: block;
  background: green;
  width: 50%;
  height: 100%;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -23px;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;

  list-style: none;
  width: 100%;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown button {
  background: #FFFFFF;
  color: #0000A0;
  border: none;
  margin: 0;
  padding: 0.4em 0.8em;
  font-size: 1em;
}

.dropdown a {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  background: #CCCCCC;
  color: #FFFFFF;
}

.dropdown li {
  width: 60px;
  font-size: 0.8em;
  font-family: 'Lato';
}

.dropdown a:hover {
  background: #55ACEE;
}